# 📂 Données brutes ou dérivées
data/
*.csv
*.xlsx

# 🧪 Notebooks temporaires
*.ipynb_checkpoints

# 🔐 Secrets et variables d'environnement
.env

# 🐍 Environnements virtuels
.venv/
env/
__pycache__/
*.pyc
*.pyo

# 📊 Logs ou sorties
logs/
outputs/

# 📦 MLflow, modèles lourds, artefacts
mlruns/
mlartifacts/
*.joblib
*.pkl

# 💻 Config IDE
.vscode/
.idea/
